@page
@model IndexModel
@{
    ViewData["Title"] = "MyFavSong";
}

<link rel="stylesheet" type="text/css" href="~/css/site.css">
<script src="~/js/site.js" defer></script>

<body>
    <div class="content-container">
        <h1>Welcome to my Fav Song Website</h1>

        <p>Enjoy listening to my favorite song!</p>

        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/egMWlD3fLJ8" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
        
        <input id="button" type="button" value="Rotate">
        <div id="img_container">
            <br>
            <img src="https://ascvb.imgix.net/media/lnelis2d/rr-hof.jpg" alt="Logo" width="200" height="200" id="image">
        </div>

        <br>

        <div>
            <br>
            <p>
                <button onclick="myMove()">Click Me</button>
            </p>

            <div id="myContainer">
                <div id="myAnimation"></div>
            </div>
        </div>

</body>
